@import "../../scss/index.scss";

.auth {
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $background-color-form;
  height: 100vh;
  .container-form {
    width: 400px;
    padding: 20px 50px;
    border: 1px solid $border-form-color;
    margin-top: 50px;
    border-radius: 5px;
  }
}
