@import "../../../index.scss";
.login-form {
  width: 400px;

  margin: 50px 100px 0px 0px;
  border-radius: 5px;
}

.ant-col-rtl {
  float: left;
}
.login-form-button {
  width: 100%;
}
.ant-btn-primary {
  background-color: #cf1322;
}
