.nombre-usuario {
  color: #fff;
  font-size: 2.2rem;
  margin: 0;
  text-align: center;
}
.nombre-usuario span {
  font-weight: 100;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
