.ant-layout-sider {
  background-color: #7c0029;
}
.logo {
  width: 200px;
  padding: 0 10px;
  position: relative;
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.layout-admin {
  transition: margin-left 0.2s;
  padding: 0px 24px 24px;
  &__header {
    top: 0;
    left: 0;
    width: 100%;
    right: 0;
    padding: 0;
    height: 65px;
  }

  &__content {
    min-height: calc(100vh - 65px);
    padding: 24;
    text-align: "center";
    background: #fff;
    margin: 16px;
  }

  &__footer {
    padding: 20px;
    text-align: center;
  }
}
